<div class="about-main">
  <h2>What's Humatter...?</h2>
  <p>
    ユマニストの為のSNSサービスです。
    近況やつぶやきを投稿することができます。
    誰でも使えるにじょpotみたいなものです。
    「今日の練習楽しかったな」「課題多くて大変…」なんでもそうぞ！
  </p>
  <img class="about-img" src="/naisyo.png">
</div>
